<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
<add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bootcampicosmateos;AccountKey=Cb+6FAu9hgokQOUOrIkcVIunO9m58TBxuyTAFCI7/qmduFuAmmngsA9SqF98rP04CemrOHU3sZ9LqWsDvvhdyQ==;EndpointSuffix=core.windows.net" />

    <add key="IoTHubServiceConnectionsString" value="HostName=vendingmachingshubosmateos.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=TK4u+VDqsgj/Cxd2bi+ehcGsJSw6QYlfmzgD6NHRJ/Y="/>
  </appSettings>
</configuration>